<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="exam">
      <h2 data-cy="examDetailsHeading"><span>Exam</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ exam.id }}</span>
        </dd>
        <dt><span ngbTooltip="fieldName">Exam Name</span></dt>
        <dd>
          <span>{{ exam.examName }}</span>
        </dd>
        <dt><span>Exam Date</span></dt>
        <dd>
          <span>{{ exam.examDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Exam Note</span></dt>
        <dd>
          <span>{{ exam.examNote }}</span>
        </dd>
        <dt><span>Coefficient</span></dt>
        <dd>
          <span>{{ exam.coefficient }}</span>
        </dd>
        <dt><span>Exam Time</span></dt>
        <dd>
          <span>{{ exam.examTime }}</span>
        </dd>
        <dt><span>Sub Result</span></dt>
        <dd>
          <div *ngIf="exam.subResult">
            <a [routerLink]="['/subject-results', exam.subResult?.id, 'view']">{{ exam.subResult?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/exam', exam.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
