<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="courses">
      <h2 data-cy="coursesDetailsHeading"><span>Courses</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ courses.id }}</span>
        </dd>
        <dt><span ngbTooltip="fieldName">Name</span></dt>
        <dd>
          <span>{{ courses.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ courses.description }}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
          <span>{{ courses.isActive }}</span>
        </dd>
        <dt><span>Staff Manage</span></dt>
        <dd>
          <div *ngIf="courses.staffManage">
            <a [routerLink]="['/staff', courses.staffManage?.id, 'view']">{{ courses.staffManage?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/courses', courses.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
