<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-class-rooms-heading" data-cy="ClassRoomsCreateUpdateHeading">Create or edit a Class Rooms</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_roomName" ngbTooltip="fieldName">Room Name</label>
          <input type="text" class="form-control" name="roomName" id="field_roomName" data-cy="roomName" formControlName="roomName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_roomAddress">Room Address</label>
          <input
            type="text"
            class="form-control"
            name="roomAddress"
            id="field_roomAddress"
            data-cy="roomAddress"
            formControlName="roomAddress"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_totalSeats">Total Seats</label>
          <input
            type="number"
            class="form-control"
            name="totalSeats"
            id="field_totalSeats"
            data-cy="totalSeats"
            formControlName="totalSeats"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_roomDescription">Room Description</label>
          <input
            type="text"
            class="form-control"
            name="roomDescription"
            id="field_roomDescription"
            data-cy="roomDescription"
            formControlName="roomDescription"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
