<div>
  <h2 id="page-heading" data-cy="ExamHeading">
    <span>Exams</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-exam"
        [routerLink]="['/exam/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Exam </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="exams?.length === 0">
    <span>No exams found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="exams && exams.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="examName"><span>Exam Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="examDate"><span>Exam Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="examNote"><span>Exam Note</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="coefficient"><span>Coefficient</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="examTime"><span>Exam Time</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subResult.id"><span>Sub Result</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let exam of exams; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/exam', exam.id, 'view']">{{ exam.id }}</a>
          </td>
          <td>{{ exam.examName }}</td>
          <td>{{ exam.examDate | formatMediumDatetime }}</td>
          <td>{{ exam.examNote }}</td>
          <td>{{ exam.coefficient }}</td>
          <td>{{ exam.examTime }}</td>
          <td>
            <div *ngIf="exam.subResult">
              <a [routerLink]="['/subject-results', exam.subResult?.id, 'view']">{{ exam.subResult?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/exam', exam.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/exam', exam.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(exam)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
