<div>
  <h2 id="page-heading" data-cy="SubjectsHeading">
    <span>Subjects</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-subjects"
        [routerLink]="['/subjects/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Subjects </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="subjects?.length === 0">
    <span>No subjects found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="subjects && subjects.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subName"><span>Sub Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subTotalHours"><span>Sub Total Hours</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subScore"><span>Sub Score</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subActive"><span>Sub Active</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subCode"><span>Sub Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subDescription"><span>Sub Description</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let subjects of subjects; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/subjects', subjects.id, 'view']">{{ subjects.id }}</a>
          </td>
          <td>{{ subjects.subName }}</td>
          <td>{{ subjects.subTotalHours }}</td>
          <td>{{ subjects.subScore }}</td>
          <td>{{ subjects.subActive }}</td>
          <td>{{ subjects.subCode }}</td>
          <td>{{ subjects.subDescription }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/subjects', subjects.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/subjects', subjects.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(subjects)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
