<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="classRooms">
      <h2 data-cy="classRoomsDetailsHeading"><span>Class Rooms</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ classRooms.id }}</span>
        </dd>
        <dt><span ngbTooltip="fieldName">Room Name</span></dt>
        <dd>
          <span>{{ classRooms.roomName }}</span>
        </dd>
        <dt><span>Room Address</span></dt>
        <dd>
          <span>{{ classRooms.roomAddress }}</span>
        </dd>
        <dt><span>Total Seats</span></dt>
        <dd>
          <span>{{ classRooms.totalSeats }}</span>
        </dd>
        <dt><span>Room Description</span></dt>
        <dd>
          <span>{{ classRooms.roomDescription }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/class-rooms', classRooms.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
