<div>
  <h2 id="page-heading" data-cy="SubjectResultsHeading">
    <span>Subject Results</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-subject-results"
        [routerLink]="['/subject-results/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Subject Results </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="subjectResults?.length === 0">
    <span>No subjectResults found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="subjectResults && subjectResults.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="isPass"><span>Is Pass</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="course.id"><span>Course</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sub.id"><span>Sub</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="student.id"><span>Student</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let subjectResults of subjectResults; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/subject-results', subjectResults.id, 'view']">{{ subjectResults.id }}</a>
          </td>
          <td>{{ subjectResults.isPass }}</td>
          <td>
            <div *ngIf="subjectResults.course">
              <a [routerLink]="['/courses', subjectResults.course?.id, 'view']">{{ subjectResults.course?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="subjectResults.sub">
              <a [routerLink]="['/subjects', subjectResults.sub?.id, 'view']">{{ subjectResults.sub?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="subjectResults.student">
              <a [routerLink]="['/students', subjectResults.student?.id, 'view']">{{ subjectResults.student?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/subject-results', subjectResults.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/subject-results', subjectResults.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(subjectResults)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
