<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="subjectResults">
      <h2 data-cy="subjectResultsDetailsHeading"><span>Subject Results</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ subjectResults.id }}</span>
        </dd>
        <dt><span ngbTooltip="fieldName">Is Pass</span></dt>
        <dd>
          <span>{{ subjectResults.isPass }}</span>
        </dd>
        <dt><span>Course</span></dt>
        <dd>
          <div *ngIf="subjectResults.course">
            <a [routerLink]="['/courses', subjectResults.course?.id, 'view']">{{ subjectResults.course?.id }}</a>
          </div>
        </dd>
        <dt><span>Sub</span></dt>
        <dd>
          <div *ngIf="subjectResults.sub">
            <a [routerLink]="['/subjects', subjectResults.sub?.id, 'view']">{{ subjectResults.sub?.id }}</a>
          </div>
        </dd>
        <dt><span>Student</span></dt>
        <dd>
          <div *ngIf="subjectResults.student">
            <a [routerLink]="['/students', subjectResults.student?.id, 'view']">{{ subjectResults.student?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/subject-results', subjectResults.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
