<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="positionSalary">
      <h2 data-cy="positionSalaryDetailsHeading"><span>Position Salary</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ positionSalary.id }}</span>
        </dd>
        <dt><span ngbTooltip="fieldName">Pos Code</span></dt>
        <dd>
          <span>{{ positionSalary.posCode }}</span>
        </dd>
        <dt><span>Pos Name</span></dt>
        <dd>
          <span>{{ positionSalary.posName }}</span>
        </dd>
        <dt><span>Sal Base</span></dt>
        <dd>
          <span>{{ positionSalary.salBase }}</span>
        </dd>
        <dt><span>Sal Allowance</span></dt>
        <dd>
          <span>{{ positionSalary.salAllowance }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/position-salary', positionSalary.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
