<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="coursesSubject">
      <h2 data-cy="coursesSubjectDetailsHeading"><span>Courses Subject</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ coursesSubject.id }}</span>
        </dd>
        <dt><span>Course</span></dt>
        <dd>
          <div *ngIf="coursesSubject.course">
            <a [routerLink]="['/courses', coursesSubject.course?.id, 'view']">{{ coursesSubject.course?.id }}</a>
          </div>
        </dd>
        <dt><span>Sub</span></dt>
        <dd>
          <div *ngIf="coursesSubject.sub">
            <a [routerLink]="['/subjects', coursesSubject.sub?.id, 'view']">{{ coursesSubject.sub?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/courses-subject', coursesSubject.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
