<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-staff-heading" data-cy="StaffCreateUpdateHeading">Create or edit a Staff</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_staffCode" ngbTooltip="fieldName">Staff Code</label>
          <input type="text" class="form-control" name="staffCode" id="field_staffCode" data-cy="staffCode" formControlName="staffCode" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_staffFullname">Staff Fullname</label>
          <input
            type="text"
            class="form-control"
            name="staffFullname"
            id="field_staffFullname"
            data-cy="staffFullname"
            formControlName="staffFullname"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_staffEmail">Staff Email</label>
          <input
            type="text"
            class="form-control"
            name="staffEmail"
            id="field_staffEmail"
            data-cy="staffEmail"
            formControlName="staffEmail"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_staffPhoneNumber">Staff Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="staffPhoneNumber"
            id="field_staffPhoneNumber"
            data-cy="staffPhoneNumber"
            formControlName="staffPhoneNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_staffAddress">Staff Address</label>
          <input
            type="text"
            class="form-control"
            name="staffAddress"
            id="field_staffAddress"
            data-cy="staffAddress"
            formControlName="staffAddress"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dateJoin">Date Join</label>
          <div class="d-flex">
            <input
              id="field_dateJoin"
              data-cy="dateJoin"
              type="datetime-local"
              class="form-control"
              name="dateJoin"
              formControlName="dateJoin"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_manager">Manager</label>
          <select class="form-control" id="field_manager" data-cy="manager" name="manager" formControlName="manager">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="staffOption.id === editForm.get('manager')!.value?.id ? editForm.get('manager')!.value : staffOption"
              *ngFor="let staffOption of staffSharedCollection; trackBy: trackStaffById"
            >
              {{ staffOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_pos">Pos</label>
          <select class="form-control" id="field_pos" data-cy="pos" name="pos" formControlName="pos">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="positionSalaryOption.id === editForm.get('pos')!.value?.id ? editForm.get('pos')!.value : positionSalaryOption"
              *ngFor="let positionSalaryOption of positionSalariesSharedCollection; trackBy: trackPositionSalaryById"
            >
              {{ positionSalaryOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
