<div>
  <h2 id="page-heading" data-cy="StaffHeading">
    <span>Staff</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-staff"
        [routerLink]="['/staff/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Staff </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="staff?.length === 0">
    <span>No staff found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="staff && staff.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="staffCode"><span>Staff Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="staffFullname"><span>Staff Fullname</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="staffEmail"><span>Staff Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="staffPhoneNumber"><span>Staff Phone Number</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="staffAddress"><span>Staff Address</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateJoin"><span>Date Join</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="manager.id"><span>Manager</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="pos.id"><span>Pos</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let staff of staff; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/staff', staff.id, 'view']">{{ staff.id }}</a>
          </td>
          <td>{{ staff.staffCode }}</td>
          <td>{{ staff.staffFullname }}</td>
          <td>{{ staff.staffEmail }}</td>
          <td>{{ staff.staffPhoneNumber }}</td>
          <td>{{ staff.staffAddress }}</td>
          <td>{{ staff.dateJoin | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="staff.manager">
              <a [routerLink]="['/staff', staff.manager?.id, 'view']">{{ staff.manager?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="staff.pos">
              <a [routerLink]="['/position-salary', staff.pos?.id, 'view']">{{ staff.pos?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/staff', staff.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/staff', staff.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(staff)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
