<div>
  <h2 id="page-heading" data-cy="StudentsHeading">
    <span>Students</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-students"
        [routerLink]="['/students/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Students </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="students?.length === 0">
    <span>No students found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="students && students.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stuCode"><span>Stu Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stuName"><span>Stu Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stuDob"><span>Stu Dob</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stuEmail"><span>Stu Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stuPhone"><span>Stu Phone</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stuAddress"><span>Stu Address</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stuGender"><span>Stu Gender</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stuStatus"><span>Stu Status</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stuDate"><span>Stu Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let students of students; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/students', students.id, 'view']">{{ students.id }}</a>
          </td>
          <td>{{ students.stuCode }}</td>
          <td>{{ students.stuName }}</td>
          <td>{{ students.stuDob | formatMediumDatetime }}</td>
          <td>{{ students.stuEmail }}</td>
          <td>{{ students.stuPhone }}</td>
          <td>{{ students.stuAddress }}</td>
          <td>{{ students.stuGender }}</td>
          <td>{{ students.stuStatus }}</td>
          <td>{{ students.stuDate | formatMediumDatetime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/students', students.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/students', students.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(students)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
