<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-subject-results-heading" data-cy="SubjectResultsCreateUpdateHeading">Create or edit a Subject Results</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_isPass" ngbTooltip="fieldName">Is Pass</label>
          <input type="checkbox" class="form-check" name="isPass" id="field_isPass" data-cy="isPass" formControlName="isPass" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_course">Course</label>
          <select class="form-control" id="field_course" data-cy="course" name="course" formControlName="course">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="coursesOption.id === editForm.get('course')!.value?.id ? editForm.get('course')!.value : coursesOption"
              *ngFor="let coursesOption of coursesSharedCollection; trackBy: trackCoursesById"
            >
              {{ coursesOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sub">Sub</label>
          <select class="form-control" id="field_sub" data-cy="sub" name="sub" formControlName="sub">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="subjectsOption.id === editForm.get('sub')!.value?.id ? editForm.get('sub')!.value : subjectsOption"
              *ngFor="let subjectsOption of subjectsSharedCollection; trackBy: trackSubjectsById"
            >
              {{ subjectsOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_student">Student</label>
          <select class="form-control" id="field_student" data-cy="student" name="student" formControlName="student">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="studentsOption.id === editForm.get('student')!.value?.id ? editForm.get('student')!.value : studentsOption"
              *ngFor="let studentsOption of studentsSharedCollection; trackBy: trackStudentsById"
            >
              {{ studentsOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
