<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="students">
      <h2 data-cy="studentsDetailsHeading"><span>Students</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ students.id }}</span>
        </dd>
        <dt><span ngbTooltip="fieldName">Stu Code</span></dt>
        <dd>
          <span>{{ students.stuCode }}</span>
        </dd>
        <dt><span>Stu Name</span></dt>
        <dd>
          <span>{{ students.stuName }}</span>
        </dd>
        <dt><span>Stu Dob</span></dt>
        <dd>
          <span>{{ students.stuDob | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Stu Email</span></dt>
        <dd>
          <span>{{ students.stuEmail }}</span>
        </dd>
        <dt><span>Stu Phone</span></dt>
        <dd>
          <span>{{ students.stuPhone }}</span>
        </dd>
        <dt><span>Stu Address</span></dt>
        <dd>
          <span>{{ students.stuAddress }}</span>
        </dd>
        <dt><span>Stu Gender</span></dt>
        <dd>
          <span>{{ students.stuGender }}</span>
        </dd>
        <dt><span>Stu Status</span></dt>
        <dd>
          <span>{{ students.stuStatus }}</span>
        </dd>
        <dt><span>Stu Date</span></dt>
        <dd>
          <span>{{ students.stuDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/students', students.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
