<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="subjects">
      <h2 data-cy="subjectsDetailsHeading"><span>Subjects</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ subjects.id }}</span>
        </dd>
        <dt><span ngbTooltip="fieldName">Sub Name</span></dt>
        <dd>
          <span>{{ subjects.subName }}</span>
        </dd>
        <dt><span>Sub Total Hours</span></dt>
        <dd>
          <span>{{ subjects.subTotalHours }}</span>
        </dd>
        <dt><span>Sub Score</span></dt>
        <dd>
          <span>{{ subjects.subScore }}</span>
        </dd>
        <dt><span>Sub Active</span></dt>
        <dd>
          <span>{{ subjects.subActive }}</span>
        </dd>
        <dt><span>Sub Code</span></dt>
        <dd>
          <span>{{ subjects.subCode }}</span>
        </dd>
        <dt><span>Sub Description</span></dt>
        <dd>
          <span>{{ subjects.subDescription }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/subjects', subjects.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
