<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-subjects-heading" data-cy="SubjectsCreateUpdateHeading">Create or edit a Subjects</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_subName" ngbTooltip="fieldName">Sub Name</label>
          <input type="text" class="form-control" name="subName" id="field_subName" data-cy="subName" formControlName="subName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_subTotalHours">Sub Total Hours</label>
          <input
            type="number"
            class="form-control"
            name="subTotalHours"
            id="field_subTotalHours"
            data-cy="subTotalHours"
            formControlName="subTotalHours"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_subScore">Sub Score</label>
          <input type="number" class="form-control" name="subScore" id="field_subScore" data-cy="subScore" formControlName="subScore" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_subActive">Sub Active</label>
          <input type="checkbox" class="form-check" name="subActive" id="field_subActive" data-cy="subActive" formControlName="subActive" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_subCode">Sub Code</label>
          <input type="text" class="form-control" name="subCode" id="field_subCode" data-cy="subCode" formControlName="subCode" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_subDescription">Sub Description</label>
          <input
            type="text"
            class="form-control"
            name="subDescription"
            id="field_subDescription"
            data-cy="subDescription"
            formControlName="subDescription"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
