<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-exam-heading" data-cy="ExamCreateUpdateHeading">Create or edit a Exam</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_examName" ngbTooltip="fieldName">Exam Name</label>
          <input type="text" class="form-control" name="examName" id="field_examName" data-cy="examName" formControlName="examName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_examDate">Exam Date</label>
          <div class="d-flex">
            <input
              id="field_examDate"
              data-cy="examDate"
              type="datetime-local"
              class="form-control"
              name="examDate"
              formControlName="examDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_examNote">Exam Note</label>
          <input type="text" class="form-control" name="examNote" id="field_examNote" data-cy="examNote" formControlName="examNote" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_coefficient">Coefficient</label>
          <input
            type="number"
            class="form-control"
            name="coefficient"
            id="field_coefficient"
            data-cy="coefficient"
            formControlName="coefficient"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_examTime">Exam Time</label>
          <input type="number" class="form-control" name="examTime" id="field_examTime" data-cy="examTime" formControlName="examTime" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_subResult">Sub Result</label>
          <select class="form-control" id="field_subResult" data-cy="subResult" name="subResult" formControlName="subResult">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                subjectResultsOption.id === editForm.get('subResult')!.value?.id ? editForm.get('subResult')!.value : subjectResultsOption
              "
              *ngFor="let subjectResultsOption of subjectResultsSharedCollection; trackBy: trackSubjectResultsById"
            >
              {{ subjectResultsOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
