<div>
  <h2 id="page-heading" data-cy="ClassRoomsHeading">
    <span>Class Rooms</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-class-rooms"
        [routerLink]="['/class-rooms/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Class Rooms </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="classRooms?.length === 0">
    <span>No classRooms found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="classRooms && classRooms.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="roomName"><span>Room Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="roomAddress"><span>Room Address</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="totalSeats"><span>Total Seats</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="roomDescription"><span>Room Description</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let classRooms of classRooms; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/class-rooms', classRooms.id, 'view']">{{ classRooms.id }}</a>
          </td>
          <td>{{ classRooms.roomName }}</td>
          <td>{{ classRooms.roomAddress }}</td>
          <td>{{ classRooms.totalSeats }}</td>
          <td>{{ classRooms.roomDescription }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/class-rooms', classRooms.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/class-rooms', classRooms.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(classRooms)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
