<div>
  <h2 id="page-heading" data-cy="PositionSalaryHeading">
    <span>Position Salaries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-position-salary"
        [routerLink]="['/position-salary/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Position Salary </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="positionSalaries?.length === 0">
    <span>No positionSalaries found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="positionSalaries && positionSalaries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="posCode"><span>Pos Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="posName"><span>Pos Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="salBase"><span>Sal Base</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="salAllowance"><span>Sal Allowance</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let positionSalary of positionSalaries; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/position-salary', positionSalary.id, 'view']">{{ positionSalary.id }}</a>
          </td>
          <td>{{ positionSalary.posCode }}</td>
          <td>{{ positionSalary.posName }}</td>
          <td>{{ positionSalary.salBase }}</td>
          <td>{{ positionSalary.salAllowance }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/position-salary', positionSalary.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/position-salary', positionSalary.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(positionSalary)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
