<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-students-heading" data-cy="StudentsCreateUpdateHeading">Create or edit a Students</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_stuCode" ngbTooltip="fieldName">Stu Code</label>
          <input type="text" class="form-control" name="stuCode" id="field_stuCode" data-cy="stuCode" formControlName="stuCode" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_stuName">Stu Name</label>
          <input type="text" class="form-control" name="stuName" id="field_stuName" data-cy="stuName" formControlName="stuName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_stuDob">Stu Dob</label>
          <div class="d-flex">
            <input
              id="field_stuDob"
              data-cy="stuDob"
              type="datetime-local"
              class="form-control"
              name="stuDob"
              formControlName="stuDob"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_stuEmail">Stu Email</label>
          <input type="text" class="form-control" name="stuEmail" id="field_stuEmail" data-cy="stuEmail" formControlName="stuEmail" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_stuPhone">Stu Phone</label>
          <input type="text" class="form-control" name="stuPhone" id="field_stuPhone" data-cy="stuPhone" formControlName="stuPhone" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_stuAddress">Stu Address</label>
          <input
            type="text"
            class="form-control"
            name="stuAddress"
            id="field_stuAddress"
            data-cy="stuAddress"
            formControlName="stuAddress"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_stuGender">Stu Gender</label>
          <input type="text" class="form-control" name="stuGender" id="field_stuGender" data-cy="stuGender" formControlName="stuGender" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_stuStatus">Stu Status</label>
          <input type="text" class="form-control" name="stuStatus" id="field_stuStatus" data-cy="stuStatus" formControlName="stuStatus" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_stuDate">Stu Date</label>
          <div class="d-flex">
            <input
              id="field_stuDate"
              data-cy="stuDate"
              type="datetime-local"
              class="form-control"
              name="stuDate"
              formControlName="stuDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
