<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="staff">
      <h2 data-cy="staffDetailsHeading"><span>Staff</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ staff.id }}</span>
        </dd>
        <dt><span ngbTooltip="fieldName">Staff Code</span></dt>
        <dd>
          <span>{{ staff.staffCode }}</span>
        </dd>
        <dt><span>Staff Fullname</span></dt>
        <dd>
          <span>{{ staff.staffFullname }}</span>
        </dd>
        <dt><span>Staff Email</span></dt>
        <dd>
          <span>{{ staff.staffEmail }}</span>
        </dd>
        <dt><span>Staff Phone Number</span></dt>
        <dd>
          <span>{{ staff.staffPhoneNumber }}</span>
        </dd>
        <dt><span>Staff Address</span></dt>
        <dd>
          <span>{{ staff.staffAddress }}</span>
        </dd>
        <dt><span>Date Join</span></dt>
        <dd>
          <span>{{ staff.dateJoin | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Salary</span></dt>
        <dd>
          <span>{{ salary }}</span>
        </dd>
        <dt><span>Manager</span></dt>
        <dd>
          <div *ngIf="staff.manager">
            <a [routerLink]="['/staff', staff.manager?.id, 'view']">{{ staff.manager?.id }}</a>
          </div>
        </dd>
        <dt><span>Pos</span></dt>
        <dd>
          <div *ngIf="staff.pos">
            <a [routerLink]="['/position-salary', staff.pos?.id, 'view']">{{ staff.pos?.id }}</a>
          </div>
        </dd>
        <dt><span>Date</span></dt>
        <dd *ngIf="staff.staffCode == 'TEACHER' || staff.staffCode == 'TUTORS'">
          <span>
            <input
              (change)="getSalary()"
              id="field_dateJoin"
              type="month"
              class="form-control"
              name="date"
              [(ngModel)]="date"
              placeholder="MMyyyy"
            />
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/staff', staff.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
