<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-position-salary-heading" data-cy="PositionSalaryCreateUpdateHeading">Create or edit a Position Salary</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_posCode" ngbTooltip="fieldName">Pos Code</label>
          <input type="text" class="form-control" name="posCode" id="field_posCode" data-cy="posCode" formControlName="posCode" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_posName">Pos Name</label>
          <input type="text" class="form-control" name="posName" id="field_posName" data-cy="posName" formControlName="posName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_salBase">Sal Base</label>
          <input type="number" class="form-control" name="salBase" id="field_salBase" data-cy="salBase" formControlName="salBase" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_salAllowance">Sal Allowance</label>
          <input
            type="number"
            class="form-control"
            name="salAllowance"
            id="field_salAllowance"
            data-cy="salAllowance"
            formControlName="salAllowance"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
